package components

templ Header(title string) {
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{ title } | 명지대 선거 관리 페이지</title>
		<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/htmx.org@latest/dist/ext/alpine-morph.js"></script>
		<script defer src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
		<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<script src="https://kit.fontawesome.com/9988ccb2d8.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="static/output.css"/>
	</head>
}
